<%= simple_form_for([@requirement_groupable, @requirement_group], local: true) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description, as: :rich_text_area %>

    <%= f.input :operation, as: :select, value_method: lambda { |args| Requirement::OPERATIONS.find_index(args) }, collection: Requirement::OPERATIONS, input_html: { class: "form-select" }, prompt: "Please select and operation", label: "Operation (optional)" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
