<div class="page-header d-print-none mb-4">
  <div class="row g-3 align-items-center">
    <div class="col-auto">
      <%= link_to :back do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
           <line x1="5" y1="12" x2="19" y2="12"></line>
           <line x1="5" y1="12" x2="11" y2="18"></line>
           <line x1="5" y1="12" x2="11" y2="6"></line>
        </svg>
      <% end %>
    </div>
    <div class="col">
        <h2 class="page-pretitle mb-0">
          <%= "Manage Requirement Group" %>
        </h2>
      <h2 class="page-title">
        <%= @requirement_group.name.titleize %>
      </h2>
    </div>
    <% if staff_member? or staff_admin? %>      
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          <%= link_to new_requirement_path(requirement_group: @requirement_group), class: "btn" do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
            Add Requirement
          <% end %>

          <%= link_to polymophic_path_builder('new', @requirement_group, RequirementGroup.new), class: "btn btn-primary" do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
            Add Requirement Group
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if @requirement_group.description.present? %>
  <div class="mb-2">
    <h3 class="mb-0"><strong>Description</strong></h3> 
    <div class="text-truncate">
      <p><%= @requirement_group.description %></p>
    </div>
  </div>
<% end %>

<% if @requirement_group.has_requirements? %>
  <div class="row">
    <% @requirement_group.requirements.each.with_index do |requirement, index| %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Requirement <%= index + 1 %></h3>
            <div class="card-actions">
              <%= link_to edit_requirement_path(requirement) do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                   <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
                   <circle cx="12" cy="12" r="3"></circle>
                </svg>
                Edit
              <% end %>
            </div>
          </div>
          <div class="card-body"> 
            <div class="mb-2">
              Operation: <strong><%= Requirement::OPERATIONS[requirement.operation] %></strong>
            </div>
            <% if !requirement.description.nil? %>
              <div class="mb-2">
                <p class="mb-0"><strong>Description:</strong></p> 
                <div class="text-truncate">
                  <p><%= requirement.description %></p>
                </div>
              </div>
            <% end %>
            <% if requirement.course_ids.present? %>
              <div class="card" style="height: 18rem">
                <div class="card-body card-body-scrollable card-body-scrollable-shadow">
                  <h4>Courses</h4>
                  <div class="divide-y">
                    <div>
                      <% requirement.course_ids.each do |course_id| %>
                        <% course = Course.find(course_id) %>
                        <div class="row">
                          <div class="col">
                            <div class="text-truncate">
                              <%= link_to course.name, course_path(course) %>
                              <div class="text-muted"><%= course.credit_amount %> Credits | <%= enum_to_human(course.level).titleize %></div>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div><!--/.divide-y-->
                </div>
              </div><!--/.card-->
            <% end %>
          </div><!--/.card.body-->
        </div><!--/.card-->
      </div><!--/.col-->
    <% end %>
  </div><!--/.row-->
<% else %>
  <div class="empty">
    <div class="empty-img">
      <%= image_tag "empty.svg", alt: "empty svg" %>
    </div>
    <p class="empty-title">No requirements found</p>
    <div class="empty-action">
      <%= link_to "Add your first requirement", new_requirement_path(requirement_group: @requirement_group), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<% if @requirement_group.has_requirement_groups? %>
  <div class="col-md-12 mt-4">
    <h2 class="mb-4"><%= pluralize(@requirement_group.requirement_groups.count, 'Requirement Group') %></h2>
    <div>
      <div class="card">
        <div class="table-responsive">
          <table class="table table-vcenter card-table table-striped text-nowrap datatable" id="dataTable_none">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Requirements</th>
                <th>Operation</th>
                <th class="w-3">Actions</th>
              </tr>
            </thead>
            <tbody> 
              <% @requirement_group.requirement_groups.each do |requirement_group| %>
                <tr>
                  <td><%= requirement_group.id %></td>
                  <td><%= requirement_group.name %></td>
                  <td><%= zero_to_human(requirement_group.requirements.count) %></td>
                  <td><%= requirement_group.operation.present? ? RequirementGroup::OPERATIONS[requirement_group.operation] : "Nothing to show" %></td>
                  <td>
                    <div class="btn-list flex-nowrap">
                      <%= link_to 'Show', requirement_group, class: 'btn btn-primary' %>
                      <%= link_to 'Edit', edit_requirement_group_path(requirement_group), class: 'btn' %> 
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div><!--/.col-->
<% end %>