<%= render 'shared/page_header', title: "Programmes", action: new_programme_path, action_name: "New Programme" %>

<div class="card">
  <div class="table-responsive">
    <table class="table table-vcenter card-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Department</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @programmes.each do |programme| %>
          <tr>
            <td><%= programme.id %></td>
            <td><%= programme.name %></td>
            <td><%= programme.department.name %></td>
            <td>
              <%= link_to 'Show', programme %>
              <%= link_to 'Edit', edit_programme_path(programme) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>