<%= render 'shared/page_header', pre_title: "Manage Programmes", title: "Programmes", action: new_programme_path, action_name: "New Programme", action_restricted: false %>

<div class="card">
  <div class="table-responsive">
    <table class="table table-vcenter card-table table-striped text-nowrap datatable" id="dataTable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Department</th>
          <th class="w-3">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @programmes.each do |programme| %>
          <tr>
            <td><%= programme.id %></td>
            <td><%= programme.name %></td>
            <td><%= programme.department.name %></td>
            <td>
              <div class="btn-list flex-nowrap">
                <%= link_to 'Show', programme, class: 'btn btn-primary' %>
                <%= link_to 'Edit', edit_programme_path(programme), class: 'btn' %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>