<%= simple_form_for(@minor) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>

    <% if !@minor.programme_id.present? %>
      <%= f.input :programme_id, input_html: { value: params[:programme] }, as: :hidden %>      
    <% else %>
      <%= f.input :programme_id, as: :hidden %>      
    <% end %>

    <% if @minor.new_record? %>
      <hr>
      <h3>Import Requirement Groups (optional)</h3>
      <div class="card mb-4">
        <div class="card-body">
          <%= f.input :requirement_groups, collection: RequirementGroup.where(requirement_groupable_type: "Minor").uniq { |r| r.name }, as: :check_boxes, label: "Requirement Groups" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
