<%= render 'shared/page_header', title: "Faculties", action: new_faculty_path, action_name: "New Facuilty" %>

<div class="card">
  <div class="table-responsive">
    <table class="table table-vcenter card-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Campus</th>
          <th>Name</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>
      <tbody> 
        <% @faculties.each do |faculty| %>
          <tr>
            <td><%= faculty.id %></td>
            <td><%= faculty.campus.name %></td>
            <td><%= faculty.name %></td>
            <td><%= link_to 'Edit', edit_faculty_path(faculty) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>