<header class="navbar navbar-expand-md navbar-light d-print-none">
  <div class="container-xl">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
      <%= link_to "UWI Pocket Advisor", root_path, class: 'text-decoration-none' %>
    </h1>
    <div class="navbar-nav flex-row order-md-last">
      <% if current_user %>
        <div class="nav-item dropdown">
          <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
            <span class="avatar avatar-sm bg-teal"> <%= current_user.initials %> </span>
            <div class="d-none d-xl-block ps-2">
              <div><%= current_user.name %></div>
              <div class="mt-1 small text-muted font-weight-medium"><%= enum_to_human(current_user.account_type.capitalize) %></div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <a href="#" class="dropdown-item">Profile</a>
            <a href="#" class="dropdown-item">Settings</a>
            <%= link_to "Logout", destroy_user_session_path, class: "dropdown-item", method: :delete %>
          </div>
        </div>
      <% else %>
      <div class="nav-item d-none d-md-flex me-3">
        <div class="btn-list">
          <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
        </div>
      </div>
      <% end %>
    </div>

    <div class="collapse navbar-collapse" id="navbar-menu">
      <div class="d-flex flex-column flex-md-row flex-fill align-items-stretch align-items-md-center">
        <ul class="navbar-nav">
          <% if staff_admin? %>
            <li class="nav-item <%= active_link(faculties_path) %>">
              <%= link_to "Faculties", faculties_path, class: "nav-link"  %>
            </li>
            <li class="nav-item <%= active_link(departments_path) %>">
              <%= link_to "Departments", departments_path, class: "nav-link"  %>
            </li>
            <li class="nav-item <%= active_link(users_path) %>">
              <%= link_to "Users", users_path, class: "nav-link"  %>
            </li>
            <li class="nav-item <%= active_link(programmes_path) %>">
              <%= link_to "Programmes", programmes_path, class: "nav-link"  %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>