<div class="page-header d-print-none mb-4">
  <div class="row g-3 align-items-center">
    <% if defined?(back_action) %>
      <div class="col-auto">
        <%= link_to back_action do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
             <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
             <line x1="5" y1="12" x2="19" y2="12"></line>
             <line x1="5" y1="12" x2="11" y2="18"></line>
             <line x1="5" y1="12" x2="11" y2="6"></line>
          </svg>
        <% end %>
      </div>
    <% end %>
    <div class="col">
      <% if defined?(pre_title) %>
        <h2 class="page-pretitle mb-0">
          <%= pre_title %>
        </h2>
      <% end %>
      <h2 class="page-title">
        <%= title %>
      </h2>
    </div>
    <% if defined?(action) and defined?(action_restricted) and !action_restricted %>
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          <%= link_to action, class: "btn btn-primary" do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
            <%= action_name %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>