<%= render 'shared/page_header', pre_title: "Manage departments", title: "Departments", action: new_department_path, action_name: "New Department", action_restricted: false %>

<div class="card">
  <div class="table-responsive">
    <table class="table table-vcenter card-table table-striped text-nowrap datatable" id="dataTable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Faculty</th>
          <th>Name</th>
          <th class="w-3">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @departments.each do |department| %>
          <tr>
            <td><%= department.id %></td>
            <td><%= department.faculty.name %></td>
            <td><%= department.name %></td>
            <td><%= link_to 'Edit', edit_department_path(department), class: "btn" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>