<section class="bg-banner d-table w-100 text-white">
  <div class="bg-banner-overlay"></div>
  <div class="container landing-container">
    <div class="row justify-content-center mb-6 text-center">
      <div class="col-xl-8 col-lg-9 col-md-10">
        <div class="banner-content">
          <h1 class="display-6 font-weight-bold">University of the West Indies - Mona Campus</h1>
          <p class="lead" style="font-size: 20px;">
             source of programme, major, minor and course information
          </p>
          </div>
        </div><!--/.banner-content-->
      </div>
    </div><!--/.row-->
  </div> <!--/.container-->
</section>

<div class="container py-4">
  <div class="row mt-3">
    <div class="col-md-4 col-sm-12 col-xs-12 mt-4">
      <div class="card bg-blue-lt">
        <div class="card-body">
          <div class="keyword-search">
            <h3 class="text-dark">Search by Keywords</h3>
            <div class="search">
              <%= simple_form_for :search, url: root_path, method: :get do |f| %>
                <% if params[:search].present? %>
                  <%= f.input :keyword,
                               :label         => false,
                               :input_html    => { placeholder: "keyword...", value: params[:search][:keyword] }, 
                               :wrapper_class => "me-2" %>
                <% else %>
                  <%= f.input :keyword,
                              :label         => false,
                              :input_html    => { placeholder: "keyword..." }, 
                              :wrapper_class => "me-2" %>
                <% end %>


                <div class="department mt-3">
                  <h3 class="mb-2 text-dark">Search for</h3>
                  <%= f.input :for, 
                              :label      => false,
                              :prompt     => "select a item to search for",
                              :collection => ["programme", "course", "major", "minor"],
                              :input_html => { class: 'form-select' },
                              :wrapper_class => "me-2" %>
                </div>

                <div class="department mt-3">
                  <h3 class="mb-2 text-dark">Department</h3>
                  <%= f.input :department, 
                              :label      => false,
                              :prompt     => "select a department",
                              :collection => Department.all,
                              :input_html => { class: 'form-select' },
                              :wrapper_class => "me-2" %>
                </div>

                <div class="faculty mt-3">
                  <h3 class="mb-2 text-dark">Faculty</h3>
                  <%= f.input :faculty, 
                              :label      => false,
                              :prompt     => "select a faculty",
                              :collection => Faculty.all,
                              :input_html => { class: 'form-select' },
                              :wrapper_class => "me-2" %>                  
                </div>
                <%= button_tag(type: 'submit', class: "btn w-100 me-2 mt-4 btn-indigo mb-2") do %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                     <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                     <circle cx="10" cy="10" r="7"></circle>
                     <line x1="21" y1="21" x2="15" y2="15"></line>
                  </svg>
                  Search       
                <% end %>
                <% if params[:search].present? %>
                  <%= link_to 'Reset search', root_path %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div><!--/.card-->
    </div><!--/.col-->

    <div class="col-sm-12 col-md-8 col-sm-12 col-xs-12 mt-4">
      <h1 class="mb-3 page-title">
        Records
      </h1>
      <div class="row mt-3">
        <% if !params[:search].present? or params[:search][:for] == 'course' %>
          <% @records.each do |record| %>
            <div class="card mb-3">
              <div class="card-body">
                <div class="row g-2 align-items-center">
                  <div class="col">
                    <p class="text-muted font-weight-bold mb-0"><%= record.code %></p>
                    <h3 class="card-title mb-2 text-primary"><%= link_to record.name, record %></h3>
                    <div class="text-truncate">
                      <div class="text-muted"><%= record.credit_amount %> Credits | <%= record.level.present? ? enum_to_human(record.level).titleize : "Any" %></div>
                    </div>

                    <div class="job-metas-bottom mt-2">
                      <span class="badge bg-blue-lt"><%= record.department.name %></span>
                      <span class="badge bg-blue-lt"><%= record.department.faculty.name %></span>
                    </div>
                  </div>
                  <div class="col-auto text-muted">
                    <span class="badge bg-dark-lt">
                      Course 
                    </span>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

        <% if params[:search].present? and params[:search][:for] == 'major' %>
          <% @records.each do |record| %>
            <div class="card mb-3">
              <div class="card-body">
                <div class="row g-2 align-items-center">
                  <div class="col">
                    <h3 class="card-title mb-2 text-primary"><%= link_to record.name, record %></h3>
                    <div class="text-truncate">
                      <div class="text-muted">Programme: <%= record.programme.name %></div>
                    </div>

                    <div class="job-metas-bottom mt-2">
                      <span class="badge bg-blue-lt"><%= record.programme.department.name %></span>
                      <span class="badge bg-blue-lt"><%= record.programme.department.faculty.name %></span>
                    </div>
                  </div>
                  <div class="col-auto text-muted">
                    <span class="badge bg-dark-lt">
                      Major 
                    </span>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

        <% if params[:search].present? and params[:search][:for] == 'programme' %>
          <% @records.each do |record| %>
            <div class="card mb-3">
              <div class="card-body">
                <div class="row g-2 align-items-center">
                  <div class="col">
                    <h3 class="card-title mb-2 text-primary"><%= link_to record.name, record %></h3>
                    <div class="text-truncate">
                    </div>

                    <div class="job-metas-bottom mt-2">
                      <span class="badge bg-blue-lt"><%= record.department.name %></span>
                      <span class="badge bg-blue-lt"><%= record.department.faculty.name %></span>
                    </div>
                  </div>
                  <div class="col-auto text-muted">
                    <span class="badge bg-dark-lt">
                      Programme 
                    </span>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

        <div class="pagy">
          <%== pagy_nav_bootstrap(@pagy) %>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div><!--/.container-->