<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h3>Track Degree Progress</h3>
      <p class="text-muted">Please select your programme, major and/or minor.</p>
    </div>
    <%= simple_form_for :track, url: check_progress_path, method: :post do |f| %>
      <%= f.input :programme, collection: Programme.all, prompt: "Please select programme", input_html: { class: "form-select" } %>
      <%= f.input :major, collection: Major.all, prompt: "Please select major", input_html: { class: "form-select" }, required: false %>
      <%= f.input :minor, collection: Minor.all, prompt: "Please select minor", input_html: { class: "form-select" }, required: false %>

      <%= f.button :button, "Check Progress", class: "btn btn-primary", :data => { disable_with: "<div class="'spinner-border'" role="'status'"></div>  Checking progress..." } %>
    <% end %>
  </div>
</div>


