
<%= simple_form_for(@permission) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :department %>
    <%= f.association :permission_group %>
    <%= f.input :can_create %>
    <%= f.input :can_update %>
    <%= f.input :can_discontinue %>
    <%= f.input :can_view %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
