<p id="notice"><%= notice %></p>

<h1>Permissions</h1>

<table>
  <thead>
    <tr>
      <th>Department</th>
      <th>Permission group</th>
      <th>Can create</th>
      <th>Can update</th>
      <th>Can discontinue</th>
      <th>Can view</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @permissions.each do |permission| %>
      <tr>
        <td><%= permission.department_id %></td>
        <td><%= permission.permission_group_id %></td>
        <td><%= permission.can_create %></td>
        <td><%= permission.can_update %></td>
        <td><%= permission.can_discontinue %></td>
        <td><%= permission.can_view %></td>
        <td><%= link_to 'Show', permission %></td>
        <td><%= link_to 'Edit', edit_permission_path(permission) %></td>
        <td><%= link_to 'Destroy', permission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Permission', new_permission_path %>
