<div class="container-tight py-4">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "card card-md" }) do |f| %>
    <div class="card-body">
      <h2 class="card-title text-center mb-4">Login to your account</h2>
      <div class="form-inputs">
        <%= f.input :login,
                    label: "UWI ID",
                    required: false,
                    autofocus: true,
                    input_html: { placeholder: "Enter UWI ID" } %>

        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password", placeholder: "Password" } %>

        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign in", class: "btn btn-primary w-100 mb-3" %>
      </div>
    </div>
  <% end %>
</div>
