
<%= simple_form_for(@course) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :code %>
    <%= f.input :description %>
    <%= f.input :credit_amount %>
    <%= f.input :level %>
    <%= f.input :semester_offered_in %>
    <%= f.input :discountinued %>
    <%= f.association :department %>
    <%= f.association :requirement %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
