<%= render 'shared/page_header', pre_title: "Manage Courses", title: "Courses", action: new_course_path, action_name: "New Course", action_restricted: false %>
<div class="card">
  <div class="table-responsive">
    <table class="table table-vcenter card-table table-striped text-nowrap datatable" id="dataTable">
      <thead>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Credit Amount</th>
          <th>Level</th>
          <th>Semeter Offered In</th>
          <th>Discountinued</th>
          <th>Department</th>
          <th class="w-3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @courses.each do |course| %>
          <tr>
            <td><%= course.code.upcase %></td>
            <td><%= course.name.titleize %></td>
            <td><%= course.credit_amount %></td>
            <td><%= course.level.present? ? enum_to_human(course.level).titleize : "Any" %></td>
            <td><%= course.semester_offered_in %></td>
            <td><span class="badge <%= course.discontinued ? "bg-danger" : "bg-success" %>"><%= boolean_to_human(course.discontinued) %></span></td>
            <td><%= course.department.name %></td>
            <td>
              <div class="btn-list flex-nowrap">
                <%= link_to 'Show', course, class: "btn btn-primary" %>
                <%= link_to 'Edit', edit_course_path(course), class: "btn"  %>
                <%= discontinue_or_continue_course_options(course) %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>