<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body class="theme-light">
    <div class="page">
      <%= render 'shared/navbar' %>
      <div class="page-wrapper">
        <div class="page-body">
          <div class="container-xl">
            <%= toastr_flash %>
            <%= yield %>
          </div>
        </div><!--/.page-body-->
        <%= render 'shared/footer' %>
      </div><!--/.page-wrapper-->
    </div><!--/.page-->
  </body>
</html>
